<ion-view title="Game Ideas">
<ion-content padding="true">
<ion-list>
<div class="card" ng-repeat="c in concepts">
   <div class="item item-divider">
   {{c.title}}
  </div>
    <div class="item item-text-wrap">
  {{c.artstyle}} {{c.genre}}
  </div>
     <div class="item item-text-wrap">
   {{c.players}}
  </div>
     <div class="item item-text-wrap">
   {{c.description}}
  </div>
    <div class="item">
    <button class="button" ng-click="editIdea(c)">Edit</button>
        <button class="button button-assertive" ng-click="deleteIdea(c)">Delete</button>
    </div>
  <div class="item item-divider">
    {{c.dateCreated |  date:'dd MMMM yyyy h:mm a'}}
  </div>
    
</div>
</ion-list>
 
</ion-content>
</ion-view>