<ion-view title="Add Idea">
<ion-content padding="true">
<h2>Got a game idea you want to save?</h2>
<p>Quickly note it here</p>
   <form ng-submit="addData(idea)" novalidate>
<div class="list">
  <label class="item item-input">
    <input type="text" name="title" placeholder="Title of the Game" ng-model="idea.title" required>
  </label>
    <label class="item item-input">
    <input type="text" name="genre" placeholder="Genre - platformer, rpg, arcade etc" ng-model="idea.genre" required>
  </label>
    
    <label class="item item-input">
    <input type="text" name="artstyle" placeholder="Art style - 2D, 2.5D, 3D etc" ng-model="idea.artstyle" required>
  </label>
    <label class="item item-input">
    <select name="players" placeholder="Single, Multiplayer" ng-model="idea.players" required>
        <option ng-selected="selected">Single Player</option>
         <option>MultiPlayer</option>
        </select>
  </label>
    <label class="item item-input">
    <input type="text" name="monetize" placeholder="Monetization options" ng-model="idea.monetize" required>
  </label>
  <label class="item item-input">
    <textarea placeholder="Gameplay description" name="description" ng-model="idea.description" required></textarea>
  </label>
</div>
<button class="button button-block button-dark" type="submit">Save</button>
</form>
</ion-content>
</ion-view>